#Shooter {
	font-family: Arial, Helvetica, sans-serif;
	border-collapse: collapse;
	width: 100%;
	align-items: center;
	justify-content: center;
  }
  
  #Shooter td, #Shooter th {
	border: 1px solid #ddd;
	padding: 8px;
  }
  
  #Shooter tr:nth-child(even){background-color: #f2f2f2;}
  
  #Shooter tr:hover {background-color: #ddd;}
  
  #Shooter th {
	padding-top: 12px;
	padding-bottom: 12px;
	text-align: left;
	background-color: #04AA6D;
	color: white;
  }
  .button {
	vertical-align:middle;
	display: inline-block;
	border-radius: 5px;
	background-color: #00be0a;
	border: none;
	color: #FFFFFF;
	text-align: center;
	font-size: 28px;
	padding: 10px;
	width: 220px;
	transition: all 0.5s;
	cursor: pointer;
	margin: 5px;
  }
  
  .button span {
	cursor: pointer;
	display: inline-block;
	position: relative;
	transition: 0.5s;
  }
  .button span a{
	text-decoration: none;
	color: #fff;
  }
  .button span:after {
	content: '\00bb';
	position: absolute;
	opacity: 0;
	top: 0;
	right: -20px;
	transition: 0.5s;
  }
  
  .button:hover span {
	padding-right: 25px;
  }
  
  .button:hover span:after {
	opacity: 1;
	right: 0;
  }